.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 0 26px 0;
  &__menu {
    display: flex;
    gap: 40px;
    &__nav {
      color: #fff;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }
    &__nav:focus {
      color: #118da8;
    }
  }
  &__burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    width: 30px;
    height: 18px;
    justify-content: center;
    &__span {
      width: 80%;
      height: 2px;
      transform: scale(1);
      background-color: #fff;
      border-radius: 2px;
    }
  }
  &__burger::before,
  &__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  &__burger::before {
    top: 0;
  }
  &__burger::after {
    bottom: 0;
  }
  &__burger {
    &__span.active {
      transform: scale(0);
    }
  }
  &__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (max-width: 650px) {
  .header {
    &__burger {
      display: flex;
      position: absolute;
      right: 25px;
    }
    &__menu {
      position: absolute;
      z-index: 50;
      background-color: #000;
      flex-direction: column;
      right: 0;
      top: 0;
      width: 200px;
      align-items: center;
      padding: 80px 0 50px 0;
      border-top-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-bottom-left-radius: 32px;
      display: none;
      animation: burgerAnimation 1s;
    }
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
